# 중간고사 5번: 유방암 종양 예측 문제
*Binary classification*   

- CUDA를 사용하도록 했다.
- binary-cross-entropy를 내장 함수로 바꿨다.
- 학습시에 momentum을 `0.8`로 적용하였다.
- Normalize에 sklearn 함수를 썼다.

In [0]:
from google.colab import files
files.upload()

In [0]:
! mkdir -p ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle competitions download -c 2020-ai-exam-cancer-revisit

In [0]:
import torch
import torch.optim as optim
import torch.nn.functional as F
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler # For Normalization

In [0]:
torch.manual_seed(1)
device = torch.device('cuda')

# Load Data

In [20]:
xy_train = pd.read_csv('2020.AI.cancer-train.csv')
xy_train.head()

   diagnosis  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
0          0        8.734  ...                  0.08865          NaN
1          0       11.360  ...                  0.07745          NaN
2          1       14.950  ...                  0.07147          NaN
3          1       17.350  ...                  0.06515          NaN
4          0       11.060  ...                  0.11680          NaN

[5 rows x 32 columns]

In [35]:
x_train = xy_train.iloc[:, 1:-1]
y_train = xy_train.iloc[:, :1]

print(x_train.shape)
print(y_train.shape)

(398, 30)
(398, 1)

In [0]:
y_train.head()

In [37]:
x_train = np.array(x_train)
y_train = np.array(y_train)
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)   # X Normalize

pd.DataFrame(x_train).describe()

               0           1           2   ...          27          28          29
count  398.000000  398.000000  398.000000  ...  398.000000  398.000000  398.000000
mean     0.340696    0.377826    0.335398  ...    0.397540    0.266706    0.192630
std      0.167836    0.184034    0.168693  ...    0.229624    0.121017    0.125878
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.226655    0.240717    0.220890  ...    0.220782    0.190371    0.110111
50%      0.301907    0.358088    0.297837  ...    0.339656    0.248965    0.163813
75%      0.424961    0.488903    0.417801  ...    0.570704    0.320619    0.243900
max      1.000000    1.000000    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 30 columns]

In [0]:
x_train = torch.FloatTensor(x_train)
y_train = torch.FloatTensor(y_train)

# Train Model

In [105]:
W = torch.zeros((30, 1), requires_grad=True, device='cuda')
b = torch.zeros(1, requires_grad=True, device='cuda')
x_train = x_train.cuda()
y_train = y_train.cuda()

Epochs = 200000
lr = 1e-1

sig = torch.nn.Sigmoid()
optimizer = optim.SGD((W, b), lr=lr, momentum=0.8) #Implement Momentum

for epoch in range(1, Epochs+1):
    h = sig(x_train.mm(W)+b)
    cost = F.binary_cross_entropy(h, y_train)

    optimizer.zero_grad()
    cost.backward()
    optimizer.step()

    if epoch == 1 or epoch%5000 == 0:
        print('Epoch: {:4d}/{} Cost: {:.6f}'.format(epoch, Epochs, cost))

Epoch:    1/200000 Cost: 0.693147
Epoch: 5000/200000 Cost: 0.054148
Epoch: 10000/200000 Cost: 0.042994
Epoch: 15000/200000 Cost: 0.037530
Epoch: 20000/200000 Cost: 0.034060
Epoch: 25000/200000 Cost: 0.031601
Epoch: 30000/200000 Cost: 0.029744
Epoch: 35000/200000 Cost: 0.028276
Epoch: 40000/200000 Cost: 0.027079
Epoch: 45000/200000 Cost: 0.026077
Epoch: 50000/200000 Cost: 0.025222
Epoch: 55000/200000 Cost: 0.024479
Epoch: 60000/200000 Cost: 0.023825
Epoch: 65000/200000 Cost: 0.023243
Epoch: 70000/200000 Cost: 0.022719
Epoch: 75000/200000 Cost: 0.022243
Epoch: 80000/200000 Cost: 0.021807
Epoch: 85000/200000 Cost: 0.021406
Epoch: 90000/200000 Cost: 0.021034
Epoch: 95000/200000 Cost: 0.020688
Epoch: 100000/200000 Cost: 0.020363
Epoch: 105000/200000 Cost: 0.020058
Epoch: 110000/200000 Cost: 0.019771
Epoch: 115000/200000 Cost: 0.019498
Epoch: 120000/200000 Cost: 0.019239
Epoch: 125000/200000 Cost: 0.018993
Epoch: 130000/200000 Cost: 0.018758
Epoch: 135000/200000 Cost: 0.018533
Epoch: 140000/200000 Cost: 0.018317
Epoch: 145000/200000 Cost: 0.018110
Epoch: 150000/200000 Cost: 0.017910
Epoch: 155000/200000 Cost: 0.017718
Epoch: 160000/200000 Cost: 0.017533
Epoch: 165000/200000 Cost: 0.017353
Epoch: 170000/200000 Cost: 0.017180
Epoch: 175000/200000 Cost: 0.017012
Epoch: 180000/200000 Cost: 0.016848
Epoch: 185000/200000 Cost: 0.016691
Epoch: 190000/200000 Cost: 0.016537
Epoch: 195000/200000 Cost: 0.016387
Epoch: 200000/200000 Cost: 0.016242

# Test

In [0]:
x_test = pd.read_csv('2020.AI.cancer-test.csv')

In [0]:
x_test = x_test.iloc[:, :30]
x_test = np.array(x_test)
x_test = scaler.transform(x_test)   # Not fit_transform!!!
x_test = torch.FloatTensor(x_test).cuda()

In [108]:
pred = sig(x_test.mm(W)+b)
pred[:5]

tensor([[1.7497e-03],
        [3.7978e-10],
        [3.4520e-05],
        [5.3386e-06],
        [8.1357e-07]], device='cuda:0', grad_fn=<SliceBackward>)

In [0]:
pred = pred.detach().cpu().numpy()
pred[pred>0.5]=1.0
pred[pred<=0.5]=0.0

In [0]:
pred=pred.astype(np.uint32)
id=np.array([i for i in range(pred.shape[0])]).reshape(-1, 1).astype(np.uint32)
result=np.hstack([id, pred])

submit = pd.DataFrame(result, columns=['id', 'diagnosis'])
submit.to_csv('submit.csv', index=False)

In [73]:
! kaggle competitions submit -c 2020-ai-exam-cancer-revisit -f submit.csv -m 'First submit'

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
100% 929/929 [00:02<00:00, 348B/s]
Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/kaggle/cli.py", line 64, in main
    print(out, end='')
UnicodeEncodeError: 'latin-1' codec can't encode characters in position 34-37: ordinal not in range(256)